<ion-view view-title="Pocket Lines">

	<ion-nav-buttons side="right">
		<a href="#/favoritos" class="button icon ion-bookmark"></a>
	</ion-nav-buttons>

	<ion-content class="has-header" padding="true" overflow-scroll="true">
		<form name="formQueNoSirveParaNadaMasQueUnNgSubmit" ng-submit="buscarParada(false)">
		<div class="card buscador-header">
			<div class="item item-text-wrap item-icon-right" ng-class="{offline: appOffline}">
				<i class="icon ion-search" ng-if="buscar.texto.length === 0"></i>
				<input id="inputBusqueda" type="text" placeholder="{{ ::'INPUT_INTRODUCE' | translate }}" ng-model="buscar.texto" ng-change="resetBusqueda('input')" ng-if="!appOffline" />
				<span ng-if="appOffline">{{ 'INPUT_OFFLINE' | translate}}</span>
				<i class="icon ion-close-round" ng-if="buscar.texto.length > 0" ng-click="resetBusqueda('cross')"></i>
			</div>
		</div>
		</form>

		<div ng-if="!appOffline" style="padding-bottom: 20px;">
			<div class="card buscador-sugerencias" ng-hide="busqueda">
				<div class="item item-text-wrap">

					<ul ng-if="buscar.texto.length === 0">

						<li ng-repeat="reciente in ::recientes | limitTo: 3 track by reciente.id" class="item-icon-right" style="position:relative;" ng-click="buscarParada('{{reciente.id}}', reciente);" ng-class="{paradaVistas: (reciente.isTIB === true)}">
							<i class="icon ion-location"></i>
							<span class="num-parada">{{reciente.id}}</span>
							<p class="nombre-parada">{{reciente.nombre}}</p>
							<span class="vistas-parada" ng-if="reciente.isTIB" style="color: #A55050;">{{ 'FLAG_TIB' | translate }}</span>
						</li>

						<li ng-if="recientes.length === 0" class="aviso">
							<span>{{ 'MSG_START' | translate}}</span>
						</li>

					</ul>

					<ul ng-if="buscar.texto.length > 0">
						<li class="item-icon-right" style="position:relative;" ng-repeat="parada in paradas | buscar:buscar.texto | orderBy:'clicks':true | limitTo: 7" ng-click="buscarParada('{{parada.id}}', parada);" ng-class="{paradaVistas: ((parada.clicks >= 1) || parada.isTIB === true)}">
							<i class="icon ion-location"></i>
							<span class="num-parada">{{parada.id}}</span>
							<p class="nombre-parada">{{parada.nombre}}</p>
							<span class="vistas-parada" ng-if="parada.clicks >= 1">{{ 'FLAG_PARADAS_VISTAS' | translate:{clicks: parada.clicks} }}</span>
							<span class="vistas-parada" ng-if="parada.isTIB" style="color: #A55050;">{{ 'FLAG_TIB' | translate }}</span>
						</li>
					</ul>

					<ul ng-if="(((paradas | buscar:buscar.texto).length) === 0)">
						<li class="item-icon-right" style="position:relative;">
							<span class="assertive">No hay paradas por <strong>{{buscar.texto}}</strong></span>
						</li>
						<li class="item-icon-right ver-cercanas">
							<a href="#/cercanas">Toca para ver paradas cercanas a tí</a>
						</li>
					</ul>

				</div>
			</div>

			<div class="card extras" ng-if="(updateExists) && (buscar.texto.length === 0) && !busqueda" style="margin-top: -2px; margin-top: 10px;" ng-click="update()">
				<div class="item item-text-wrap row">

					<div class="col" style="background-color: #efefef; margin-right: 2px; text-align: center; padding: 7px;">
						<i class="icon ion-refresh"></i>
						<span class="num-parada" style="font-weight: 400;">Actualización de paradas disponible</span>
					</div>

				</div>
			</div>


			<div class="msg msg-update updateBox" ng-if="showUpdate">

				<div ng-if="!updating">

					<div class="msg">
						<h2>Actualizar paradas</h2>
						<p>Hay una actualización disponible para descargar las paradas y los horarios actualizados de la EMT.<br></p>
					</div>

					<div class="card">
						<div class="item item-text-wrap">

							<p>Puedes descargar las paradas cuando quieras, pero ten en cuenta que este proceso puede durar entre 15 y 45 segundos, según tu dispositivo.</p>

							<div class="card extras" style="margin-top: -2px; margin-top: 10px;" ng-click="doUpdate()">
								<div class="item item-text-wrap row">
									<div class="col" style="background-color: #efefef; margin-right: 2px; text-align: center; padding: 7px;">
										<i class="icon ion-fork-repo"></i>
										<span class="num-parada" style="font-weight: 400;">Actualizar base de datos</span>
									</div>
								</div>
							</div>

						</div>
					</div>

					<p ng-click="cancelUpdate()">
						Ahora no <i class="icon ion-ios-close-empty"></i>
					</p>

				</div>

				<div ng-if="(updating) && (updateProgress > 0)">

					<div class="msg">
						<h2>Actualizando...</h2>
						<p>Actualizando la base de datos de paradas. Espera unos momentos, y no cierres la app mientras dura el proceso.</p>
					</div>

					<div class="card">
						<div class="item item-text-wrap">
							<p>{{updateProgress}} registros restantes...</p>
						</div>
					</div>

					<div class="updateMatrix">
						<p ng-repeat="x in updateMatrix | limitTo: 20 track by $index">{{x}}</p>
					</div>

				</div>

				<div ng-if="updateProgress == 0">
					<div class="msg">
						<h2>Actualizado</h2>
						<p>La aplicación se ha actualizado a la última versión.</p>
					</div>

					<div class="card extras" style="margin-top: -2px; margin-top: 10px;" ng-click="cancelUpdate()">
						<div class="item item-text-wrap row">
							<div class="col" style="background-color: #efefef; margin-right: 2px; text-align: center; padding: 7px;">
								<i class="icon ion-checkmark-circled"></i>
								<span class="num-parada" style="font-weight: 400;">Aceptar</span>
							</div>
						</div>
					</div>
					
				</div>


			</div>

			<div class="card extras" ng-if="busqueda && respuesta" style="margin-top: -2px; margin-top: 10px;">
				<div class="item item-text-wrap row">

					<div class="col extra-num-parada">
						<i class="icon ion-location"></i>
						<span class="num-parada">{{infoParada.id}}</span>
					</div>

					<div class="col extra-mapa" ng-click="actions.mapa = !actions.mapa">
						<i class="icon ion-map"></i>
					</div>

					<div class="col extra-favoritos">
						<div class="seccion-favoritos add-favoritos" ng-click="addFavorito()">
							<span ng-if="!paradaFav"><i class="icon ion-android-star"></i></span>
							<span ng-if="paradaFav"><i class="icon ion-android-star favorito"></i></span>
						</div>
					</div>

					<div class="col extra-mapa" ng-click="alarma()">
						<i class="icon ion-ios-bell"></i>
					</div>

					<div class="col extra-alarma" ng-click="buscarParada()" ng-if="!isTIB">
						<i class="icon ion-ios-refresh"></i>
					</div>

				</div>
			</div>

			<div class="card extra-mapa" ng-if="actions.mapa">
				<div class="item item-text-wrap">
					<i class="icon ion-load-c loading-infinite"></i>
					<p class="header" style="border-bottom: 1px solid #efefef; padding-bottom: 0px; margin-bottom: 5px;">{{ 'HEADER_MAPA' | translate}}</p>
					<img src="http://maps.googleapis.com/maps/api/staticmap?center={{infoParada.lat}},{{infoParada.lng}}&markers=color:blue%7Clabel:*%7C{{infoParada.lat}},{{infoParada.lng}}&zoom=16&sensor=true&size=600x300&key=AIzaSyBZTsXko-Ayp6A6zHZvObauktcVe4S64fI" />
				</div>
			</div>

			<div ng-if="error" class="msg">
				<i class="ion ion-link"></i>
				<!-- <h1>Vaya</h1> -->
				<p>Lo sentimos, pero no ha sido posible establecer una conexión con la EMT en este momento.</p><p><button class="button button-block button-positive" ng-click="buscarParada()">Reintentar</button><a class="button button-block button-positive" href="tel:{{num_taxi}}" style="display:none;">Llama a un Taxi</a></p>
			</div>

			<div ng-if="respuesta.estimaciones.length === 0" class="msg">
				<i class="ion ion-android-sad"></i>
				<h1>Aquí no hay nadie</h1>
				<p>Parece que en este momento no hay ningún bus disponible para esta parada <a class="button button-block button-positive" href="tel:{{num_taxi}}" style="display:none;">Puede que quieras llamar a un Taxi</a></p>
			</div>

			<div ng-repeat="linea in respuesta.estimaciones" ng-if="busqueda" class="card buscador-resultados">
				<div class="item item-text-wrap">
					<ul>
						<li class="item-icon-right" style="position:relative;" ng-click="detalles(linea.vh_first.destino)">
							<div class="num-linea" style="background-color: #{{linea.color}}; ">{{linea.line}}</div>
							<h2>{{linea.vh_first.destino}}</h2>
							<!--<i class="ion ion-flag avisos-linea-icon" ng-hide="numIncidencias(linea.line) <= 0"></i>-->
							<i class="ion ion-arrow-down-b flecha-down-icon"></i>
						</li>
						<li class="item-icon-right" ng-click="detalles(linea.vh_first.destino)">
							<span class="primer-bus" ng-class="{llegando: (linea.vh_first.seconds < 60 )}">Próximo: {{linea.vh_first.seconds | tiempoParada}} </span>
							<span class="segundo-bus">Siguiente: {{linea.vh_second.seconds | tiempoParada}} </span>
						</li>
						<li class="detalles-linea" ng-if="detalls===true" ng-click="detalles(linea.vh_first.destino)">
							<i class="icon ion-clock"></i> {{infoLinea}}
						</li>
						<!--
						<li class="avisos-linea" ng-if="detalls===true && numIncidencias(linea.line) > 0" ng-click="verAvisos(linea.line)">
							<i class="icon ion-alert"></i> Esta línea tiene {{numIncidencias(linea.line)}} avisos abiertos.
						</li>
						-->
						<li class="itinerario-linea" ng-if="detalls===true">
							<a href="#/linea/{{linea.line}}"><i class="icon ion-map"></i> Ver itinerario línea {{linea.line}}</a>
						</li>
					</ul>
				</div>
			</div>

			<div ng-if="isTIB">

				<div class="card buscador-resultados" ng-repeat="linea in infoLineas">
					<div class="item item-text-wrap">
						<ul>
							<li class="item-icon-right" style="position:relative;" ng-click="detalles()">
								<div class="num-linea" style="background-color: {{linea.color}}; ">{{(linea.id).substring(0, linea.id.length - 1)}}</div>
								<h2>{{(linea.id).substring(0, linea.id.length - 1)}} <i class="ion-arrow-right-c"></i> {{linea.destino}}</h2>
							</li>
							<li class="item-icon-right" ng-click="detalles()">
								<span class="primer-bus">{{linea | estimacionTIB:linea.nombre}} </span>

							</li>
							<li class="detalles-linea" ng-if="detalls===true" ng-click="detalles(linea.vh_first.destino)">
								<span class="segundo-bus"><i class="icon ion-clock"></i> Frecuencia de {{linea.frecuencia}}min</span>
							</li>
							<li class="itinerario-linea" ng-if="detalls===true">
								<a href="#/tib_tren_linea/{{(linea.id).substring(0, linea.id.length - 1)}}"><i class="icon ion-map"></i> Ver itinerario línea {{(linea.id).substring(0, linea.id.length - 1)}}</a>
							</li>
						</ul>
					</div>
				</div>
			</div>

			<!-- Módulo de publicidad en parada -->
			<div ng-if="respuesta && publicidad.parada">
				<div class="card publicidad linea" ng-repeat="publicidad in publicidad.parada">
					<div class="item item-text-wrap">
						<i class="icon ion-load-c loading-infinite"></i>
						<a href="#/publicidad/{{publicidad.id}}"><img ng-src="{{publicidad.img}}"></a>
					</div>
				</div>
			</div>

			<!-- Módulo de publicidad en la home -->
			<div class="card publicidad" ng-if="publicidad.home && (buscar.texto.length <= 0) && (!busqueda) && (version >= server.version)">
				<div class="item item-text-wrap">
					<i class="icon ion-load-c loading-infinite"></i>
					<a href="#/publicidad/{{publicidad.home.id}}"><img ng-src="{{publicidad.home.img}}"></a>
				</div>
			</div>

			<!-- Módulo de ask for feedback
			<div ng-if="(buscar.texto.length <= 0) && (!busqueda)" class="msg msg-feedback" style="text-align: left; padding-top: 20px;">
				<a href="#/about/contacto">
					<h6 style="display: inline-block; font-size: 16px; margin: 0;">Beta</h6>
					<i class="ion ion-settings" style="font-size: 15px;"></i>
					<p>Ayuda a mejorar la aplicación con tus ideas!</p>
				</a>
			</div> -->

			<div class="row elTiempo" ng-if="tiempo && (buscar.texto.length <= 0) && (!busqueda) && user.elTiempo">
				<div class="col temperatura">{{tiempo.list[0].temp.min | number:0}}° C</div>
				<div class="col" ng-repeat="dia in tiempo.list"><i class="c{{dia.weather[0].icon}}"></i>{{$index | diaSiguiente}}</div>
			</div>

		</div>

		<div ng-if="appOffline" class="msg msg-offline">
			<i class="ion ion-code-download"></i>
			<h1>{{ 'MSG_OFFLINE_H1' | translate }}</h1>
			<p>{{ 'MSG_OFFLINE_P' | translate }}</p>
		</div>

		<!--
		<div ng-if="version < server.version && buscar.texto.length <= 0" class="msg msg-offline">
			<i class="ion ion-radio-waves"></i>
			<h1>¡Buenas noticias!</h1>
			<p>Hay una nueva versión ({{server.version}}) de la app disponible para descargar.</p>
			<p><a href="market://details?id=es.bonda.pocketlines">Toca aquí para conseguir las novedades.</a></p>
		</div>
		-->

		<div style="position: absolute; bottom: 5px; width: auto; right: 5px;" ng-if="!tiempo && user.elTiempo">
			<!-- Cargar google maps, server y el tiempo -->
			<i class="ion ion-load-c loading-infinite"></i>
		</div>

	</ion-content>
</ion-view>
